/*-- scss:defaults --*/

// Define fonts

// if quarto.yml specifies "website", then change font-path to the second 4-"../"-option, because the base directory changes
// $font-path: "../../../../../";
$font-path: "../../../../";

/* sora-100 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Sora";
  font-style: normal;
  font-weight: 100;
  src: url("#{$font-path}_extensions/frodew/unima-quarto/fonts/sora-v12-latin-100.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* sora-200 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Sora";
  font-style: normal;
  font-weight: 200;
  src: url("#{$font-path}_extensions/frodew/unima-quarto/fonts/sora-v12-latin-200.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* sora-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Sora";
  font-style: normal;
  font-weight: 300;
  src: url("#{$font-path}_extensions/frodew/unima-quarto/fonts/sora-v12-latin-300.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* sora-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Sora";
  font-style: normal;
  font-weight: 400;
  src: url("#{$font-path}_extensions/frodew/unima-quarto/fonts/sora-v12-latin-regular.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* sora-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Sora";
  font-style: normal;
  font-weight: 500;
  src: url("#{$font-path}_extensions/frodew/unima-quarto/fonts/sora-v12-latin-500.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* sora-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Sora";
  font-style: normal;
  font-weight: 600;
  src: url("#{$font-path}_extensions/frodew/unima-quarto/fonts/sora-v12-latin-600.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* sora-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Sora";
  font-style: normal;
  font-weight: 700;
  src: url("#{$font-path}_extensions/frodew/unima-quarto/fonts/sora-v12-latin-700.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* sora-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Sora";
  font-style: normal;
  font-weight: 800;
  src: url("#{$font-path}_extensions/frodew/unima-quarto/fonts/sora-v12-latin-800.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* jetbrains-mono-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 300;
  src: url("#{$font-path}_extensions/frodew/unima-quarto/fonts/jetbrains-mono-v18-latin-300.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* jetbrains-mono-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 400;
  src: url("#{$font-path}_extensions/frodew/unima-quarto/fonts/jetbrains-mono-v18-latin-regular.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* jetbrains-mono-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "JetBrains Mono";
  font-style: italic;
  font-weight: 400;
  src: url("#{$font-path}_extensions/frodew/unima-quarto/fonts/jetbrains-mono-v18-latin-italic.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* jetbrains-mono-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 700;
  src: url("#{$font-path}_extensions/frodew/unima-quarto/fonts/jetbrains-mono-v18-latin-700.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

// set font defaults
$font-family-sans-serif: "Sora", serif !default;
$font-family-monospace: "JetBrains Mono";

$presentation-font-size-root: 32px;
$presentation-line-height: 1.5em;
$presentation-heading-font-weight: 600;

// colors
$body-bg: #ffffff;
$link-color: #232e58;
$body-color: #000000;

$black: #000000;
$white: #ffffff;
$ma-blue: #232e58;
$ma-lightblue: #ebedf7;
$ma-grey: #a7abbc;

/*-- scss:rules --*/

a {
  color: $ma-blue;
  font-weight: 300;
  border-bottom: 2px solid lightgray;
}

.quarto-title-author-name a,
.slide-menu-button a,
.slide-number a,
.code-with-filename a {
  color: $black;
  font-weight: 300;
  border-bottom: none;
}
.reveal .footer {
  border-top: 2px solid $ma-blue;
  padding-top: 16px;
  color: $black;
  font-weight: 700;
}

.reveal .footer p {
  color: $black;
  font-weight: 200;
}

.reveal .footer a {
  color: $ma-blue !important;
  border-bottom: none;
}

// Slide numbers to the bottom-right next to logo
.slide-number,
.reveal.has-logo .slide-number {
  bottom: 11px !important;
  right: 100px !important;
  top: unset !important;
  background-color: $white !important;
  color: $black;
  font-weight: 100;
}

.reveal .slide-number a {
  font-size: 1.2em;
  padding: 5px 5px 0 0;
  border-right: 2px solid black;
}

.reveal p {
  font-weight: 300;
}

.reveal .slide ul li,
.reveal .slide ol li {
  font-weight: 300;
}

// maximum height of code blocks before scrolling is used
.reveal pre.sourceCode code {
  max-height: 700px; // default 500
}

.reveal .slide {
  padding: 10px;
}

// title slide

h1.title p {
  color: $black;
  font-size: 55px;
  text-shadow: none;
  font-weight: 600;
  text-align: left;
  margin-left: 15px;
  padding-top: 80px;
}

p.subtitle {
  color: $black;
  text-shadow: none;
  font-weight: 200;
  font-size: 30px;
  text-align: right;
}

.reveal .quarto-title-block .quarto-title-authors {
  justify-content: left;
}

.quarto-title-author {
  color: $black;
  text-shadow: none;
  font-weight: 300;
  font-size: 0.7em;
  text-align: left;
  margin-left: 15px;
  margin-top: 0px;
  border-left: 3px solid $ma-blue;
  border-radius: 3px;
}

p.date {
  color: $black;
  text-shadow: none;
  font-weight: 300;
  font-size: 20px;
  text-align: left;
  padding: 20px 0 0 14px;
}

p.subtitle:after {
  content: "";
  display: block;
  border: none;
  background-color: $ma-blue;
  color: $ma-blue;
  height: 3px;
  margin: 5px 0 25px;
}

// Section break slide
hr,
h1::after,
.reveal h2:after {
  content: "";
  display: block;
  border: none;
  background-color: $ma-blue;
  color: $ma-blue;
  height: 3px;
  margin: 2px 0 30px 0;
}

// Override h1 style for title slide (remove section break slide style)
hr,
h1.title::after {
  content: "";
  display: block;
  border: none;
  background-color: transparent !important;
  color: transparent !important;
  height: 0px;
  margin: 0px !important;
}

h2::after.title {
  margin: 10px 0 35px 0;
}

// inline
.reveal code {
  font-size: 70%;
  background-color: $ma-lightblue;
  color: #000;
  padding: 0 3px;
  border-radius: 4px;
}

// code blocks
.reveal pre code {
  font-size: 100%;
  border-left: 4px solid $ma-blue;
  border-radius: 3px;
}

.code-with-filename-file pre {
  background-color: #e2e2e2;
}

.colored-column {
  border: 2px solid red;
  border-radius: 6px !important;
  padding: 10px;
  margin: 5px;
}

.column {
  border-radius: 10px !important;
  padding: 10px;
  margin: 5px;
  background-color: $ma-lightblue;
}

.small-font {
  font-size: 70%;
}

iframe {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

//
.reveal .slide-menu-button .fa-bars::before {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgb(35, 55, 59)" class="bi bi-list" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/></svg>');
}

.reveal .slide-chalkboard-buttons .fa-easel2::before {
  padding-bottom: 6px;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgb(35, 55, 59)" class="bi bi-easel2" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M8 0a.5.5 0 0 1 .447.276L8.81 1h4.69A1.5 1.5 0 0 1 15 2.5V11h.5a.5.5 0 0 1 0 1h-2.86l.845 3.379a.5.5 0 0 1-.97.242L12.11 14H3.89l-.405 1.621a.5.5 0 0 1-.97-.242L3.36 12H.5a.5.5 0 0 1 0-1H1V2.5A1.5 1.5 0 0 1 2.5 1h4.691l.362-.724A.5.5 0 0 1 8 0ZM2 11h12V2.5a.5.5 0 0 0-.5-.5h-11a.5.5 0 0 0-.5.5V11Zm9.61 1H4.39l-.25 1h7.72l-.25-1Z"/></svg>');
}

.reveal .slide-chalkboard-buttons .fa-brush::before {
  padding-bottom: 6px;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgb(35, 55, 59)" class="bi bi-brush" viewBox="0 0 16 16"><path d="M15.825.12a.5.5 0 0 1 .132.584c-1.53 3.43-4.743 8.17-7.095 10.64a6.067 6.067 0 0 1-2.373 1.534c-.018.227-.06.538-.16.868-.201.659-.667 1.479-1.708 1.74a8.118 8.118 0 0 1-3.078.132 3.659 3.659 0 0 1-.562-.135 1.382 1.382 0 0 1-.466-.247.714.714 0 0 1-.204-.288.622.622 0 0 1 .004-.443c.095-.245.316-.38.461-.452.394-.197.625-.453.867-.826.095-.144.184-.297.287-.472l.117-.198c.151-.255.326-.54.546-.848.528-.739 1.201-.925 1.746-.896.126.007.243.025.348.048.062-.172.142-.38.238-.608.261-.619.658-1.419 1.187-2.069 2.176-2.67 6.18-6.206 9.117-8.104a.5.5 0 0 1 .596.04zM4.705 11.912a1.23 1.23 0 0 0-.419-.1c-.246-.013-.573.05-.879.479-.197.275-.355.532-.5.777l-.105.177c-.106.181-.213.362-.32.528a3.39 3.39 0 0 1-.76.861c.69.112 1.736.111 2.657-.12.559-.139.843-.569.993-1.06a3.122 3.122 0 0 0 .126-.75l-.793-.792zm1.44.026c.12-.04.277-.1.458-.183a5.068 5.068 0 0 0 1.535-1.1c1.9-1.996 4.412-5.57 6.052-8.631-2.59 1.927-5.566 4.66-7.302 6.792-.442.543-.795 1.243-1.042 1.826-.121.288-.214.54-.275.72v.001l.575.575zm-4.973 3.04.007-.005a.031.031 0 0 1-.007.004zm3.582-3.043.002.001h-.002z"/></svg>');
}

.reveal .progress {
  color: $ma-blue;
  background-color: $ma-grey;
  bottom: 60px;
  height: 3px;
}

.reveal.show-notes {
  width: 40% !important;
}

.reveal .speaker-notes {
  width: 150% !important;
  font-size: 20px !important;
}

// additional custom css

.cite {
  font-size: 0.6em;
}

.v-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.smallest #refs {
  font-size: 0.8em;
  line-height: 1.5em;
}
